<div class="wrapper-content-pop-up user-profile">
    <div class="wrapper-user-headline">
        <h2>User Profile</h2>
    </div>
    <div class="block-user">
        
        <div class="wrapper-user-content">
            <small>Name:</small>
            <p class="user-content-name">{{user?.name}}</p>
        </div>

        <div class="wrapper-user-content">
            <small>Email:</small>
            <p class="user-content-email">{{user?.email}}</p>
        </div>

    </div>
    <app-button variant="green" (click)="logout()">Log out</app-button>
</div>