@use "../../shared/styles/variables" as *;

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 80px;
    color: $dark-red;
}

img {
    width: 100%;
    aspect-ratio: 16 / 1;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-bottom: 80px;
}

h2 {
    font-size: 6em;
    font-weight: 600;
}

p {
    text-transform: uppercase;
    font-size: 2rem;
    color: $dark-blue-color;
    font-weight: 600;
}

@media (max-width: 1200px) {
    img {
        aspect-ratio: 8 / 1;
    }

    @media (max-width: 960px) {
        :host {
            margin-bottom: 40px;
        }

        img {
            margin-bottom: 30px;
            aspect-ratio: 4 / 1;
        }

    }
}