<section id="care-for">
    <div class="container care-for">

        <h2>care for the animals you love </h2>
        <p>You can help to look after the animals you love with your gift today</p>

        <div class="block-care-for-slider slider__viewport">
            <div class="slider-inner-care-for slider__track ">

                <div class="care-for-card image">
                    <img src="/assets/images/koala.png" alt="photo koala">
                </div>

                <a class="care-for-card" href="/pages/animal/animal.html">
                    <img src="/assets/images/image-156.png" alt="photo animal" class="care-for-card-image">
                    <div class="wrapper-care-card-content">
                        <p> Your $150 will help to care for Senja, a Sumatran tiger, for three weeks.</p>
                        <app-button variant="outline">feed</app-button>
                    </div>
                </a>

                <a class="care-for-card" href="/pages/animal/animal.html">
                    <img src="/assets/images/image-155.png" alt="photo animal" class="care-for-card-image">
                    <div class="wrapper-care-card-content">
                        <p>With your support, we can give Andy his favorite fruits. Especially when it's notspan
                            fruit
                            season in its natural habitat.</p>
                        <app-button variant="outline">feed</app-button>
                    </div>
                </a>

                <a class="care-for-card" href="/pages/animal/animal.html">
                    <img src="/assets/images/image-144.png" alt="photo animal" class="care-for-card-image">
                    <div class="wrapper-care-card-content">
                        <p>Your $30 could give Lucas a slice of panda cake, made with our secret recipe.</p>
                        <app-button variant="outline">feed</app-button>
                    </div>
                </a>

                <a class="care-for-card" href="/pages/animal/animal.html">
                    <img src="/assets/images/image-141.png" alt="photo animal" class="care-for-card-image">
                    <div class="wrapper-care-card-content">
                        <p>Sam & Lora have hatched and raised numerous young and will be happy with your helps pan
                        </p>
                        <app-button variant="outline">feed</app-button>
                    </div>
                </a>

            </div>

        </div>
        <app-button variant="outline-blue">choose your favourite</app-button>

        <img class="touch-animal" src="/assets/images/animal.png" alt="watch video">

    </div>
</section>