<div class="pop-up-container">
    <div class="wrapper-pop-up">
        <button class="modal__close" (click)="closePopUp()"></button>

        <!-- <div class="wrapper-content-pop-up viewMap">
            <div class="wrapper-user-headline">
                <h2>Pet location</h2>
            </div>

            <div class="map-modal">
                <div class="map-modal-content">
                    <iframe class="map-modal-frame" src="" loading="lazy" allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div> -->

        <!-- <div class="wrapper-content-pop-up error">
            <p class="error-message">
                Something went wrong. Please,
                <a href="" id="refresh-page-link">refresh</a>
                the page.
            </p>
        </div> -->

        <!-- <div class="wrapper-content-pop-up user-profile">
            <div class="wrapper-user-headline">
                <h2>User Profile</h2>
            </div>
            <div class="block-user">
                <div class="wrapper-user-content">
                    <small>Name:</small>
                    <p class="user-content-name">User name</p>
                </div>
                <div class="wrapper-user-content">
                    <small>Email:</small>
                    <p class="user-content-email">User Email</p>
                </div>

            </div>
            <button class="green-btn logOutBtn">Log out</button>
        </div> -->

        @if(contentType === "auth"){
        <app-content-auth></app-content-auth>
        }
        @if(contentType === "donate-volunteers"){
        <app-content-donate-volunteers>
        </app-content-donate-volunteers>
        }
        @if(contentType === "donate-first-step"){
        <app-donate-first-step>
        </app-donate-first-step>
        }
        @if(contentType === "donate-success"){
        <app-successful-donation>
        </app-successful-donation>
        }


       




    </div>
</div>
