@use "../../styles/variables" as *;

.pop-up-container {
    width: 100vw;
    height: auto;
    background-color: color-mix(in srgb, $black-color 50%, transparent);
    position: fixed;
    inset: 0;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    transition:
        opacity 250ms ease,
        visibility 250ms ease;
    padding: 40px;
}

.wrapper-pop-up {
    width: 100%;
    max-width: 1160px;
    height: auto;
    background-color: $white-color;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 15px color-mix(in srgb, $black-color 30%, transparent);
    position: relative;
}


.modal__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 7;
    transition: 0.3s;
}

.wrapper-pop-up:has(.wrapper-content-pop-up.error.active) .modal__close {
    mix-blend-mode: difference;
}


.modal__close::before,
.modal__close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    background: $white-color;
    transform-origin: center;
    transition: 0.3s;
    border-radius: 2px;
}

.modal__close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.wrapper-pop-up img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
}

html.no-scroll {
    overflow: hidden;
    height: 100%;
    scrollbar-gutter: stable;
}

.wrapper-pop-up h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-align: center;
    text-transform: uppercase;
    color: $orange-color;
    margin-bottom: 30px;
    padding: 0px 200px;
}

.wrapper-pop-up p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: $black-color;
    margin-bottom: 50px;
    padding: 0px 300px;
}

.block-amount {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.text-full,
.text-short {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.text-short {
    display: none;
}

.wrapper-content-pop-up.first {
    padding: 0px 120px 50px;
}

.header-pop-up {
    width: calc(100% + 280px);
    background-color: $orange-color;
    padding: 42px 0px;
    margin-left: -140px;
    margin-right: -140px;
    margin-bottom: 50px;
}

.header-pop-up h2 {
    color: $white-color;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
}

.donate-info {
    display: block;
    position: relative;
    height: auto;
}

.donate-info p {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: $black-color;
    padding: 0px;
    margin-bottom: 0px;
}

.donate-info::after {
    content: "";
    display: block;
    height: 1px;
    background: #A4A8AE;
    margin-top: 10px;
    margin-left: -140px;
    margin-right: -140px;
    margin-bottom: 40px;
}


.wrapper-block-amount p span {
    margin-right: 40px;
}

.wrapper-block-amount p span {
    color: $green-color;
    margin-right: 10px;
}

.wrapper-block-amount p {
    padding: 0px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}


.wrapper-block-amount .block-amount {
    justify-content: space-between;
}

.wrapper-other-amount,
.wrapper-special {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}

.wrapper-special {
    align-items: center;
}

select {
    max-height: 150px;
    overflow-y: auto;
}

select option {
    height: 30px;
}

.wrapper-special label {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
}

input,
select {
    padding: 16px 20px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid $black-color;
    transition: .3s;
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wrapper-other-amount button {
    flex: 0 0 auto;
    flex-shrink: 0;
}

select {
    flex: 1 1 auto;
    min-width: 0;
}

select {
    appearance: none;
    padding: 12px 50px 12px 16px;
    background-image:
        url("/assets/icons/select-arrow.svg"),
        linear-gradient(#00a09384, #00a09384);

    background-repeat: no-repeat, no-repeat;
    background-position:
        right 8px center,
        right 0 center;
    background-size:
        14px,
        30px 100%;
}

.wrapper-accept {
    margin-bottom: 50px;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    accent-color: $green-color;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 400;
    font-size: 18px;
    color: $black-color;
}

.wrapper-pop-up-footer {
    width: 100%;
    display: flex;
    align-items: center;
}

.wrapper-pop-up-footer .green-btn>img {
    transition: 0.3s;
    width: 24px;
    margin: 0px;
    margin-left: 10px;
    filter: brightness(0) invert(1);
}

.pop-up-dots {
    margin-right: 55px;
}

.pop-up-dots ol {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid $green-color;
    background: transparent;
}

.dot.is-active {
    background: $green-color;
}

.wrapper-content-pop-up.user-profile,
.wrapper-content-pop-up.auth,
.wrapper-content-pop-up.donate,
.wrapper-content-pop-up.first {
    display: none;
}

.wrapper-content-pop-up.error {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.wrapper-content-pop-up.error.active {
    display: flex;
}

.wrapper-content-pop-up.error p {
    width: 100%;
    display: block;
    color: $dark-orange-color;
    margin-bottom: 0px;
    border: 1px solid $dark-orange-color;
    border-radius: 5px;
    padding: 50px;
}

#refresh-page-link {
    font-weight: 600;
    color: $dark-orange-color;
    cursor: pointer;
    text-decoration: none;
    transition: .3s;
}

.wrapper-content-pop-up.user-profile.active,
.wrapper-content-pop-up.auth.active,
.wrapper-content-pop-up.donate.active,
.wrapper-content-pop-up.first.active {
    display: block;
}

.wrapper-content-pop-up.user-profile {
    padding: 0px 15px 50px 15px;
}

.wrapper-content-pop-up.user-profile .green-btn {
    padding: 15px 60px;
    margin: auto;
}

.wrapper-user-headline {
    width: calc(100% + 30px);
    background-color: $dark-green-color;
    padding: 15px 0px;
    margin-left: -15px;
    margin-right: -15px;
}

.wrapper-user-headline h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    margin: auto;
    color: $orange-color;
}

.block-user {
    display: flex;
    max-width: 600px;
    padding: 60px 15px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: auto;
    flex-wrap: wrap;
    border-bottom: 2px solid $dark-green-color;
    margin-bottom: 30px;
}

.wrapper-user-content {
    max-width: calc(50% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.wrapper-user-content small {
    color: $dark-green-color;
}

.wrapper-pop-up .wrapper-user-content p {
    padding: 0px;
    margin: 0px;
    color: $dark-blue-color;
}

.wrapper-issue {
    width: 95%;
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    border: 2px solid #e82424;
    border-radius: 5px;
    padding: 20px 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.619);
    margin: auto;
    animation: darkenLoop .7s ease infinite alternate;
    border-left: 5px solid $dark-blue-color;
}

#issue {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0px auto;
    font-size: 16px;
    font-weight: 400;
    color: $dark-blue-color;
}

#issue a {
    color: $white-color;
}

.loginIcon {
    background: inherit;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.loginIcon .social-link {
    background-color: $dark-orange-color;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.208);
    transition: .3s;
}

.wrapper-auth small {
    max-width: 150px;
    color: $dark-orange-color;
    transition: .3s;
    font-weight: 600;
    text-transform: uppercase;
}


.viewMap {
    display: none;
}

.viewMap.active {
    display: block;
    position: relative;
}

.map-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 10px 60px;
}

.map-modal-content {
    width: 100%;
    max-width: 600px;
    margin: auto;
}


.map-modal-frame {
    width: 100%;
    border: none;
    display: block;
    aspect-ratio: 4 / 2;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
}

.map-modal-content::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: $green-color;
    border-radius: 4px;
}

.thanks #thanks-for-donation {
    color: $dark-green-color;
    font-size: 18px;
    text-align: center;
}

.block-amount .green-btn.is-active {
    outline: 2px solid orange;
    background-color: $dark-green-color;
}

@media (max-width: 1200px) {

    .wrapper-pop-up img {
        margin-bottom: 30px;
    }

    .wrapper-pop-up h2 {
        margin-bottom: 20px;
    }

    .wrapper-pop-up .header-pop-up h2 {
        margin-bottom: 0px;
    }

    .wrapper-pop-up p {
        margin-bottom: 30px;
    }

    .block-amount {
        margin-bottom: 30px;
        padding: 0px 15px;
    }

    .wrapper-block-amount .block-amount {
        padding: 0px;
    }

    .wrapper-block-amount .green-btn.disabled {
        padding: 21px 23px;
    }

    .donate-info p {
        margin-bottom: 0px;
    }

    .wrapper-block-amount p {
        margin-bottom: 10px;
    }

    .block-social-contacts {
        width: auto;
        gap: 15px;
    }

    @media (max-width: 1100px) {

        .wrapper-pop-up h2 {
            padding: 0px 60px;
        }

        .wrapper-pop-up p {
            padding: 0px 100px;
        }

        .wrapper-content-pop-up.first {
            padding: 0px 77px 40px;
        }

        .header-pop-up {
            width: calc(100% + 154px);
            margin-left: -77px;
            margin-right: -77px;
            margin-bottom: 30px;
            padding: 20px 10px;
        }

        .wrapper-other-amount,
        .wrapper-special {
            flex-wrap: wrap;
            gap: 20px;
        }

        .donate-info::after {

            margin-bottom: 20px
        }


        select {
            padding: 21px 50px 21px 16px;
        }

        .wrapper-auth {
            position: absolute;
            right: 160px;
            flex-direction: row-reverse
        }

        .first .block-amount {
            gap: 15px;
        }

        .first .wrapper-accept {
            margin-bottom: 30px;
        }


        @media (max-width: 760px) {
            .pop-up-container {
                padding: 0px 20px;
            }

            .wrapper-pop-up img {
                margin-bottom: 20px;
            }

            .wrapper-pop-up h2 {
                padding: 0px 10px;
                font-weight: 500;
                font-size: 42px;
                line-height: 51px;
            }

            .wrapper-pop-up p {
                padding: 0px 62px;
                margin-bottom: 20px;
            }

            .block-amount {
                display: grid;
                grid-template-columns: repeat(3, 135px);
                gap: 20px;
                justify-content: center;
                align-items: stretch;
                margin-bottom: 40px;
            }

            .text-full {
                display: none;
            }

            .text-short {
                display: block;
            }

            .wrapper-auth {
                right: 80px
            }

            @media (max-width: 620px) {
                .wrapper-content-pop-up.first {
                    padding: 0px 10px 50px;
                }

                .header-pop-up {
                    width: calc(100% + 20px);
                    margin-left: -10px;
                    margin-right: -10px;
                    margin-bottom: 20px;
                    padding: 30px 0px;
                }

                .header-pop-up h2 {
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 32px;
                    text-align: center;
                    text-transform: uppercase;
                }

                .donate-info p {
                    display: block;
                    margin: auto;
                }

                .donate-info::after {
                    margin-left: -10px;
                    margin-right: -10px;
                    margin-bottom: 30px;
                }

                .wrapper-block-amount p {
                    display: block;
                }

                .wrapper-content-pop-up.error.active {
                    padding: 100px 10px 20px;
                }

                .wrapper-content-pop-up.error p {
                    padding: 30px 10px;
                }

                .first .wrapper-block-amount .green-btn.disabled,
                .first .green-btn {
                    padding: 10px 20px;
                }


                @media (max-width: 515px) {
                    .block-amount {
                        grid-template-columns: repeat(2, 1fr);
                        gap: 20px;
                        margin-bottom: 35px;
                    }

                    .wrapper-pop-up h2 {
                        font-size: 38px;
                    }

                    .wrapper-pop-up p {
                        padding: 0px 10px;
                        margin-bottom: 20px;
                    }

                    .pop-up-dots {
                        margin-right: 0px;
                    }

                    .green-btn.back {
                        margin-right: 0px;
                    }

                    .wrapper-pop-up-footer {
                        justify-content: space-between;
                    }

                    .wrapper-user-headline {
                        padding: 20px 0px;
                    }

                    .wrapper-pop-up .wrapper-user-headline h2 {
                        display: inline;
                        margin: 0px auto 0px 10px
                    }



                    @media (max-width: 460px) {
                        .block-amount {
                            gap: 10px;
                            margin-bottom: 30px;
                        }

                        .block-amount .green-btn {
                            padding: 10px 20px;
                        }

                        .wrapper-pop-up h2 {
                            font-size: 26px;
                        }

                        .wrapper-other-amount {
                            gap: 10px;
                            margin-bottom: 30px;
                        }

                        .wrapper-other-amount button,
                        .wrapper-other-amount input {
                            width: calc(50% - 10px);
                        }

                        .wrapper-other-amount,
                        .wrapper-special {
                            flex-wrap: wrap;
                            gap: 20px;
                            justify-content: space-around;
                        }

                        .checkbox-label {
                            flex-direction: column-reverse;
                            justify-content: space-between;
                        }

                        .wrapper-pop-up-footer {
                            flex-direction: column-reverse;
                        }

                        .wrapper-auth {
                            right: 70px;
                            margin-left: 0px;
                        }

                        .first .header-pop-up {
                            padding: 15px 10px;
                        }

                        .wrapper-pop-up p {
                            padding: 0px 10px;
                            margin-bottom: 10px;
                            font-size: 16px;
                        }

                        .donate-info::after {
                            margin-bottom: 10px;
                        }

                        .first p,
                        .checkbox-label {
                            font-size: 12px;
                        }

                        .first .wrapper-block-amount .green-btn.disabled,
                        .first .green-btn {
                            font-size: 14px;
                        }

                        .first .block-amount,
                        .wrapper-other-amount,
                        .wrapper-special {
                            gap: 10px;
                            margin-bottom: 20px;
                        }

                        .wrapper-pop-up .header-pop-up h2 {
                            text-align: start;
                        }

                        .first .wrapper-accept {
                            margin-bottom: 15px;
                        }

                        .first p,
                        .checkbox-label {
                            gap: 10px
                        }

                        .first .pop-up-dots {
                            margin-top: 10px;
                        }

                        .first .header-pop-up h2 {
                            max-width: 90%;
                        }

                        .first .wrapper-block-amount .green-btn.disabled,
                        .first .wrapper-special button {
                            width: 100%;
                        }

                        .first input,
                        .first select {
                            padding: 10px;
                            font-size: 12px;
                        }

                        .first .checkbox-label {
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: center;
                            gap: 10px;
                        }

                        .first .checkbox-label input {
                            max-width: 25px;
                        }

                        .wrapper-other-amount {
                            display: flex;
                            align-items: stretch;
                            gap: 10px;
                        }

                        .wrapper-other-amount input,
                        .wrapper-other-amount button {
                            flex: 1 1 0;
                            min-width: 0;
                        }

                        .thanks .header-pop-up {
                            padding: 30px 10px;
                        }

                        .wrapper-special label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}


@media (hover: hover) {

    .modal__close:hover {
        transform: rotate(180deg);
        scale: 1.3;
    }

    #refresh-page-link:hover {
        display: inline-block;
        color: $dark-blue-color;
        scale: 1.05;
    }

    .auth-menu li a:hover {
        color: $dark-green-color;
    }

    .wrapper-auth .loginIcon:hover+small {
        color: $dark-green-color;
    }
}