<div class="wrapper-content-pop-up donate">
    <img src="/assets/images/pop-img.png" alt="hi">
    <h2>together we care, save and protect!</h2>
    <p>Your most generous gift not only cares for countless animals, but it also offers hope and a vital
        lifeline to the world’s most endangered wildlife relying on us to survive.</p>

    <div class="block-amount">
        <app-button variant="green-empty">$20</app-button>
        <app-button variant="green-empty">$30</app-button>
        <app-button variant="green-empty">$50</app-button>
        <app-button variant="green-empty">$80</app-button>
        <app-button variant="green-empty">$100</app-button>
        <app-button variant="green-empty">
            <span class="text-full">Other Amount</span>
            <span class="text-short">Other</span>
        </app-button>
    </div>
</div>