<section id="our-users">
    <div class="container our-users">
        <div class="wrapper-our-users">

            <div class="block-our-users-content">
                <h2>what our users think</h2>
                <p>We are continuously striving to improve the experiences of our future guests. Below you can leave
                    your own feedback, or simply view feedback from past clients. </p>
            </div>


            <div class="block-our-users-slider slider__viewport">
                <div class="slider-inner slider__track">
                    <span class="loader our-users"></span>
                </div>

                <div class="wrapper-slider-arrows">
                    <app-button variant="slider-outline-white" class="left" [disabled]="true"></app-button>
                    <app-button variant="slider-outline-white" class="right" [disabled]="true"></app-button>
                </div>

            </div>

        </div>

        <app-button variant="outline-whit">leave feedback</app-button>

    </div>
</section>