    <footer>
        <div class="container footer">
            <div class="wrapper-footer">

                <div class="block-footer">

                    <div class="block-logo-footer">
                        <figure class="wrapper-footer-logo">
                            <a href="#" class="footer-logo">
                                <img src="/assets/icons/Logo-f.png" alt="zoo-logo">
                            </a>
                        </figure>
                        <figure class="wrapper-footer-logo">
                            <a href="https://www.figma.com/design/lnK11foY8Aoa6oOlDXovVN/Online-ZOO-Project?node-id=0-1&p=f&t=s93F9rxBjgwQZ6Xc-0"
                                class="footer-logo" target="_blank">
                                <img src="/assets/icons/Yem-f.png" alt="designer-logo">
                            </a>
                        </figure>
                        <figure class="wrapper-footer-logo">
                            <a href="https://rs.school/courses/javascript" class="footer-logo" target="_blank">
                                <img src="/assets/icons/rs_school-f.png" alt="rs-logo">
                            </a>
                        </figure>

                    </div>

                    <nav>
                        <ul>
                            <li><a routerLink="">about</a></li>
                            <li><a routerLink="/map">map</a></li>
                            <li><a [routerLink]="initialRout">zoos</a></li>
                            <li><a routerLink="/contact">contact us</a></li>
                        </ul>
                    </nav>
                    <app-button (click)="openAuthPopUp()" variant="outline-whit">donate for volunteers</app-button>
                </div>

                <div class="block-footer">

                    <nav class="outside-links">
                        <ul>
                            <li><a href="https://www.figma.com/design/lnK11foY8Aoa6oOlDXovVN/Online-ZOO-Project?node-id=0-1&p=f&t=s93F9rxBjgwQZ6Xc-0"
                                    target="_blank">© 2021 DinaK </a></li>
                            <li><a href="https://www.figma.com/design/lnK11foY8Aoa6oOlDXovVN/Online-ZOO-Project?node-id=0-1&p=f&t=s93F9rxBjgwQZ6Xc-0"
                                    target="_blank">© Yem Digital</a></li>
                            <li><a href="https://rs.school/" target="_blank">© RSSchool</a></li>
                        </ul>
                    </nav>

                    <div class="block-social-contacts">

                        <figure>
                            <a href="https://www.youtube.com/" target="_blank" class="social-link you-tube">
                                <img src="/assets/icons/YouTube.png" alt="YouTube-logo">
                            </a>
                        </figure>
                        <figure>
                            <a href="https://www.instagram.com/" target="_blank" class="social-link instagram">
                                <img src="/assets/icons/instagram.png" alt="Instagram-logo">
                            </a>
                        </figure>
                        <figure>
                            <a href="https://www.facebook.com/" target="_blank" class="social-link facebook">
                                <img src="/assets/icons/facebook.png" alt="facebook-logo">
                            </a>
                        </figure>

                    </div>

                </div>

            </div>

        </div>

    </footer>