<div class="wrapper-content-pop-up first ">
    <div class="header-pop-up">
        <h2>make your donation</h2>
    </div>
    <div class="donate-info">
        <p>Donation Information:</p>
    </div>

    <div class="wrapper-block-amount">
        <p><span>*</span>Choose your donation amount:</p>
        <div class="block-amount">
            <app-button variant="green-empty">$10</app-button>
            <app-button variant="green-empty">$20</app-button>
            <app-button variant="green-empty">$30</app-button>
            <app-button variant="green-empty">$50</app-button>
            <app-button variant="green-empty">$80</app-button>
            <app-button variant="green-empty">$100</app-button>
        </div>

    </div>

    <div class="wrapper-other-amount">
        <app-button variant="green-empty">
            <span class="text-full">Other Amount</span>
            <span class="text-short">Other</span>
        </app-button>
        <input type="number">
    </div>

    <div class="wrapper-special">
        <label for="animals">for special pet</label>

        <select id="animals" name="animals">
            <option value="0" disabled selected hidden>Choose your favourite</option>
            <option value="1">Lukas the Panda</option>
            <option value="2">Andy the Lemur</option>
            <option value="3">Glen the Gorilla</option>
            <option value="4">Mike the Alligator</option>
            <option value="5">Sam & Lora the eagles family</option>
            <option value="6">Liz the Koala</option>
            <option value="7">Shake the Lion</option>
            <option value="8">Senja the Tiger</option>
            <option value="9">Bella the Red Panda</option>
            <option value="10">Rocky the Gorilla</option>
            <option value="11">Zara the Elephant</option>
            <option value="12">Neptune the Sea Otter</option>
            <option value="13">Amber the Bengal Tiger</option>
            <option value="14">Duke the Gray Wolf</option>
            <option value="15">Sunny the Fennec Fox</option>
            <option value="16">Koda the Grizzly Bear</option>
            <option value="17">Marina the Dolphin</option>
            <option value="18">Oscar the Leopard</option>
            <option value="19">Pearl the Polar Bear</option>
            <option value="20">Jasper the Jaguar</option>
            <option value="21">Willow the Lemur</option>
            <option value="22">Thunder the White Rhinoceros</option>
            <option value="23">Luna the Arctic Fox</option>
            <option value="24">Atlas the Saltwater Crocodile</option>
            <option value="25">Ruby the Scarlet Macaw</option>
            <option value="26">Titan the Komodo Dragon</option>
            <option value="27">Olive the Sloth</option>
            <option value="28">Blaze the Cheetah</option>
        </select>

    </div>

    <div class="wrapper-accept">
        <label class="checkbox-label">
            <input type="checkbox" name="gift" value="yes">
            Make this a monthly recurring gift
        </label>
    </div>

    <div class="wrapper-pop-up-footer">

        <div class="pop-up-dots">
            <ol>
                <li class="dot is-active"></li>
                <li class="dot"></li>
                <li class="dot"></li>
            </ol>
        </div>

        <button class="green-btn back first">Back</button>
        <app-button variant="green" [disabled]="true">next</app-button>
    </div>
</div>