        <div class="your-donation">
            <div class="container your-donation">

                <div class="block-your-donation">
                    <h3>Your donation makes a difference!</h3>
                    <p>The Online Zoo's animal webcams are some of the most famous on the internet. Tune in to watch
                        your favourite animals — live, 24/7!</p>
                </div>

                <div class="block-your-donation">
                    <h4>Quick Donate</h4>
                    <app-button variant="outline-whit">$ Donation Amount</app-button>
                </div>
            </div>
        </div>