<div class="wrapper-paragraph">
    <img class="hello" src="/assets/images/pop-img.png" alt="hi" />
    <h2>Sign in</h2>
</div>

<div class="block-form">
    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="wrapper-form-group">

            <div class="form-group">
                <label for="login"><span>*</span>Login</label>

                <input type="text" id="login" formControlName="login" placeholder="Enter your login"
                    [class.invalid]="login?.invalid && (login?.touched || login?.dirty)" />

                @if (login?.errors?.['required']) {
                <small class="incorrect-data">Required field</small>
                }

                @else if (login?.errors?.['pattern']) {
                <small class="incorrect-data">Login must start with a letter and contain only English letters</small>
                }

                @else if (login?.errors?.['minlength']) {
                <small class="incorrect-data">Login must be at least 3 characters</small>
                }


            </div>

            <div class="form-group">
                <label for="password"><span>*</span>Password</label>

                <input type="password" id="password" formControlName="password" placeholder="Enter your password"
                    [class.invalid]="password?.invalid && (password?.touched || password?.dirty)" />

                @if (password?.errors?.['required']) {
                <small class="incorrect-data">Required field</small>
                }
                @else if (password?.errors?.['minlength']) {
                <small class="incorrect-data">Login must be at least 6 characters</small>
                }
                @else if (password?.errors?.['pattern']) {
                <small class="incorrect-data">Password must contain a special character</small>
                }

            </div>

            @if (loginState$ | async; as loginState) {
  @if (loginState.error) {
    <small class="incorrect-response" >{{ loginState.error }}</small>
  }
}
        </div>



        <app-button variant="green" type="submit" [disabled]="form.invalid || !!((loginState$ | async)?.loading)">
            Sign In
        </app-button>

    </form>
</div>