  <section id="pay-feed">
        <div class="container pay-feed">
            <h2>PAY AND FEED</h2>

            <ol class="pay-feed-list">

                <li>
                    <div class="block-pay-feed">
                        <img src="/assets/images/Rectangle-36.png" alt="photo type of food">

                        <div class="content-wrapper-pay">

                            <img src="/assets/icons/Vector-1.png" alt="icon of hard">
                            <h3>Your donation has an impact</h3>
                            <p>Providing our animals with high-quality nutritious diets is just one element of animal
                                care at our Zoo. We do all the best so that our animals can eat food similar to what
                                they might find in their natural habitats while making sure they get the right mix of
                                nutrients, proteins, and vitamins to be happy and healthy. Please help us provide
                                nutritious food for our animals by donating. The generosity of people like you can help
                                us make sure that our animals enjoy good food that keeps them in great condition.
                            </p>

                        </div>

                    </div>
                </li>
                <li>
                    <div class="block-pay-feed make-donation">
                        <img src="/assets/images/Rectangle-37.png" alt="photo type of food">

                        <div class="content-wrapper-pay">

                            <img src="/assets/icons/Vector-2.png" alt="icon of hard">
                            <h3>Make a donation</h3>
                            <p>
                                You can donate through your credit card without any fees. It is easy and safe. We do not
                                keep donors' personal information on an online network. Choose an amount to give and the
                                pet's name if needed. One of the most effective ways you can give is by making regular
                                donations.
                            </p>

                        </div>

                    </div>
                </li>
                <li>
                    <div class="block-pay-feed">
                        <img src="/assets/images/Rectangle-38.png" alt="photo type of food">

                        <div class="content-wrapper-pay">

                            <img src="/assets/icons/Vector-3.png" alt="icon of hard">
                            <h3>Bring your food charity — straight to your favorites pets.</h3>
                            <p>After your donation, the animal receives its favorite foods. You can support your
                                favorite animals or any animal you care about and make a real personal impact. Never
                                doubt that your donation can make a difference even if it is small.
                            </p>

                            <app-button variant="orange">donate now</app-button>

                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </section>